<div class="container">
  <h1>Stupid Coach</h1>

  <form action="<%= answer_path %>">
    <input type="text" name="question" placeholder="Type your question here">
    <input type="submit" value="Ask">
  </form>
</div>
